*.o
.idea
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
configure
depcomp
libtool
ltmain.sh
m4/
missing
replace
replace.dSYM
CMakeCache.txt
CMakeFiles
cmake_install.cmake
